*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
}

input{
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
}

input:focus{
    border: 2px solid orange;
}

.passBox{
    position: relative;
}

span{
    position: absolute;
    top: 10px;
    left: 90%;
    cursor: pointer;
}

button{
    padding: 10px;
    width: 100%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

